body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.navbar {
  background-color: #fff;
  height: 5rem;
}

.fa-airbnb {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info i {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.f-info {
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400;
}

.listing-link {
  text-decoration: none;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

.show-img {
  width: 30vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

#map {
  height: 400px;
  width: 90vh;
}

#markerE1 {
  background-color: #e74c3c;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23ffffff' d='M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z'/%3E%3C/svg%3E");
}

/* Triangle base */
#markerE1::after {
  content: "";
  position: absolute;
  top: 98%;
  left: 50%;
  margin-left: -6px;
  width: 0;
  height: 0;
  border-top: 10px solid #e74c3c;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

/* toggel button style */

#filter {
  display: flex;
  text-align: center;
  align-items: center;
}

.filter {
  margin-top: 1.5rem;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
  opacity: 0.7;
}

.filter:hover {
  opacity: 1;
}

.filter p {
  font-size: 0.8rem;
}

.tax-info {
  display: none;
}

.tax-toggle {
  border: 1px solid black;
  border-radius: 1rem;
  height: 3.25rem;
  padding: 1rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
